@import "../../style/base";

@button-prefix-class: lemon-button;

.@{button-prefix-class} {
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 32px;
  outline: none;
}

.c1 {
  background: @blue-1;
}

.c2 {
  background: @blue-2;
}

.c3 {
  background: @blue-3;
}

.c4 {
  background: @blue-4;
}

.c5 {
  background: @blue-5;
}

.c6 {
  background: @blue-6;
}

.c7 {
  background: @blue-7;
}

.c8 {
  background: @blue-8;
}

.c9 {
  background: @blue-9;
}

.c10 {
  background: @blue-10;
}