@import "../../config/var.css";

.side {
  & .nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    & > li {
      height: 32px;
      display: flex;
      align-items: center;
      & a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 14px;
        transition: all .2s ease-out;
        &.nav-link {
          &.active {
            background: var(--main-blue);
            color: var(--white);
          }
        }
        &.nav-icon {
          & .nav-svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &.ml-auto {
      margin-left: auto;
    }
  }
}