@import "./color/colors";

@primary-color          : @blue-6;
@info-color             : @blue-6;
@success-color          : @green-6;
@processing-color       : @blue-6;
@error-color            : @red-6;
@highlight-color        : @red-6;
@warning-color          : @gold-6;
@normal-color           : #d9d9d9;

@heading-color          : fade(#000, 90%);
@text-color             : fade(#000, 85%);
@text-color-secondary   : fade(#000, 70%);

@border-color-base      : hsv(0, 0, 85%);  // base border outline a component
@border-color-split     : hsv(0, 0, 91%);  // split border inside a component
