html, body {
  height: auto;
  width: auto;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

a:focus {
  text-decoration: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

a {
  color: var(--mainBlue);
  text-decoration: none;
}

.container {
  padding: 16px;
}

ul {
  list-style: none;
}

svg {
  display: flex;
}

.main-wrapper {
  position: relative;
  padding-top: 24px;
  display: flex;
  & .lemon-menu {
    width: 240px;
    border-right: 1px solid #eee;
  }
  & .content {
    flex: auto;
    padding: 0 24px;
  }
}
.examples {
  margin-bottom: 24px;
}
.markdown {
  & blockquote {
    padding: 20px 45px 20px 26px;
    background-color: rgba(255,229,100,0.3);
    border-left: 8px #ffe564 solid;
    margin: 24px 0;
    margin-top: 8px;
  }
  & h1, & h2, & h3, & h4 {
    margin: 24px 0;
    margin-top: 8px;
  }
  & ul {
    margin-left: 24px;
    list-style: disc;
  }
  & pre,& code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 14px;
    margin: 24px 0;
    margin-top: 8px;
  }
  & p > code {
    padding: 0 3px;
    background: rgba(255,229,100,0.2);
  }
  & table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 24px 0;
    margin-top: 8px;
    & tr {
      border-top: 1px solid #c6cbd1;
      background: #fff;
      & th, & td {
        text-align: left;
        font-size: 14px;
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
      }
    }
  }
}