@import "../../style/base";

@menu-prefix-class: lemon-menu;

.@{menu-prefix-class} {
  line-height: 46px;
  font-size: 14px;
  &.@{menu-prefix-class}-horizontal {
    & .@{menu-prefix-class}-item {
      display: inline-block;
      & > * {
        display: inline-block;
        padding: 0 20px;
        border-bottom: 2px solid transparent;
        transition: border-color .3s ease-out;
        &.active {
          border-bottom: 2px solid @primary-color;
          color: @primary-color;
        }
        &:hover {
          border-bottom: 2px solid @primary-color;
          color: @primary-color;
        }
      }
    }
  }
  &.@{menu-prefix-class}-vertical {
    & .@{menu-prefix-class}-item {
      display: block;
      & > * {
        display: block;
        padding: 0 20px;
        &.active {
          color: @primary-color;
        }
        &:hover {
          background: @border-color-split;
        }
      }
    }
  }
}
