.lm-input-wrapper {
  padding: 8px 0;
  display: inline-block;
  position: relative;
  & .lm-input {
    border-radius: 4px;
    position: relative;
    & .tip {
      position: absolute;
      left: 10px;
      top: 4px;
      z-index: -1;
      font-size: 14px;
      transform-origin: bottom left;
      transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    }
    & .border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      border: 1px solid gray;
      z-index: -1;
      transition: border 150ms ease-in;
    }
    & input {
      padding: 6px 10px;
      outline: none;
      border: none;
      line-height: 100%;
      background: transparent;
    }
  }
  &.focus {
    & .lm-input {
      & .tip {
        -webkit-transform:scale(.75) translateY(-155%);
        transform:scale(.75) translateY(-155%)
      }
      & .border {
        border: 2px solid blue;
      }
    }
  }
}